---
import '../../styles/global.css';
import {routes} from '../../routes.js';
import Layout from '../../layouts/Layout.astro';
import Header from '../../layouts/Header.astro';
import Footer from '../../layouts/Footer.astro';
import Accordion from '../../components/Accordion.astro';
import LinkButton from '../../components/LinkButton.astro';
---

<Layout title="Wavy Industries: MONKEY getting started">
	<main>
		<Header />
		<section>
            <h1>Getting started with MON<b>KEY</b></h1>
            <img alt="monkey overview" src="/assets/resources/monkey_manual/monkey_2d_overview.svg" />
            <p>Before starting, insert a CR2032 battery into Monkey. The LEDs in the light house as well as the LEDs in the eyes of the monkey will brifely blink indicating it has booted successfully.</p>

            <h2>Device updates</h2>
            <p>Please make sure your device is up to date before continuing. This is easily done on this website.</p>
            <p><a href={routes.deviceUpdate}>Go to device update page</a></p>

            <h2>Connecting up</h2>
            <p>MONKEY supports a variety of hosts and works just as great with super mobile configurations as with a typical DAW. On mobile devices its typical for the apps to themself handle connections. This is contrary to desktop operating systems such as Windows and macOS where you typically handle the connection through the OS.</p>
            
            <h3>Connecting to mobile apps</h3>
            <p>There is a bunch of fun apps to try out. We recommend to check out <i>N-Track Studio</i> which is available on both iOS, iPad OS and Android. We specifically recommend this app because:</p>
                <ul>
                    <li>It has a usable free version</li>
                    <li>Its relatively easy to get going with</li>
                    <li>You can assign MIDI channels to the instruments</li>
                    <li>For more advanced users it has depth</li>
                </ul>
            <p>
                <a href="https://ntrack.com/ios.php">Check out N-Track Studio</a>
            </p>

            <h3>Connecting to desktop operating systems</h3>
            <Accordion title="macOS">
                <p>We have developed <i>MIDI Connect</i> which simplifies connections on macOS. And its not limited to Wavy devices. This is how we would recommend you to connect to MONKEY on macOS.</p>
                <LinkButton target="_blank" href={routes.midiConnectAppStore}>MIDI Conncet on App Store</LinkButton><br /><br />
                <img alt="MIDI connect" src="/assets/resources/mac-connect/midi_connect.png" />
                <br />
                <p>If you do not want to download this app, please follow the proceeding instructions.</p>
                <p><b>1. </b>Open up <i>Audio MIDI Setup</i></p>
                <img width="600px" src="/assets/resources/mac-connect/1-search.png" alt="Search for Bluetooth" />
                <p><b>2. </b>Open MIDI studio</p>
                <img width="600px" src="/assets/resources/mac-connect/2-open_midi_studio.png" alt="Open MIDI studio" />
                <p><b>3. </b>Open the bluetooth panel</p>
                <img width="600px" src="/assets/resources/mac-connect/3-open_bluetooth.png" alt="Open Bluetooth window" />
                <p>Or alternatively if you don't see the bluetooth icon</p>
                <img width="600px" src="/assets/resources/mac-connect/3-alt_open_bluetooth.png" alt="Open Bluetooth window" />
                <p><b>4. </b>Find your device in the list and connect</p>
                <img width="600px" src="/assets/resources/mac-connect/4-connect.png" alt="Connect to Monkey" />
            </Accordion>
            <Accordion title="Windows">
                Windows currently does not have the best support for MIDI over Bluetooth. The steps below might look a bit complicated. But when it's initially done, it should'nt be too bad.
                <p>You will need the following programs installed</p>
                <ol>
                    <li><b>loopMIDI:</b> <a href="https://www.tobias-erichsen.de/software/loopmidi.html">https://www.tobias-erichsen.de/software/loopmidi.html</a></li>
                    <li><b>MIDIBerry:</b> <a href="https://apps.microsoft.com/detail/9n39720h2m05">https://apps.microsoft.com/detail/9n39720h2m05</a></li>
                </ol>
                <p>Then follow these steps to start using Monkey:</p>
                <p><b>0. </b>Windows 11 users first have to enable <i>Advanced devices discovery</i> in bluetooth system settings</p>
                <img width="600px" src="/assets/resources/windows/0-advanced_discovery.jpeg" alt="windows advanced bluetooth" />
                <p><b>1. </b>Pair Monkey in Windows settings. You only need to do this step if Monkey is not paired to your Windows computer. Windows might fail to pair with your device. If so, reboot Monkey and try again.</p>
                <p>After it is successfully paired, Windows will automatically disconnect Monkey. Don't worry, this is expected as Windows don's yet see any reason for being connected to it. It should then appear as a paired device.</p>
                <img width="600px" src="/assets/resources/windows/1-connect_pre.png" alt="windows connect" />
                <img width="600px" src="/assets/resources/windows/2-pairing.png" alt="windows pairing" />
                <img width="600px" src="/assets/resources/windows/2.1-pairing.png" alt="windows paired" />
                <img width="600px" src="/assets/resources/windows/3-connect_post.png" alt="windows connected" />
                <p><b>2. </b>Configure a MIDI port using loopMIDI. Here we name it <q>my midi port</q>.</p>
                <img width="600px" src="/assets/resources/windows/4-port_create.png" alt="port create" />
                <img width="600px" src="/assets/resources/windows/4.1-port_create.png" alt="port create" />
                <p><b>3. </b>Open MIDIBerry, select WAVY MONKEY as input device (this should result in Windows reconnecting to Monkey) and the MIDI port you created as output.</p>
                <p>Now you are done! Check if it works by pressing some random keys on Monkey as seeing wether these notes are recieved in <i>INPUT MONITOR</i> in MIDIBerry.</p>
                <img width="600px" src="/assets/resources/windows/5-select.png" alt="select" />
            </Accordion>
            <h3>Configure dektop DAW</h3>
            <p>We provide guides for some DAWs though MONKEY is not limited to them. It should work with most of them. The gist of it is to assign instruments in your DAW to different MIDI channels. And have a drum rack on MIDI channel 10.</p>
            <Accordion title="Ableton Live">
                <p><b>1. </b>Make sure Monkey is enabled in settings MIDI Ports</p>
                <img width="600px" src="/assets/resources/ableton/ableton settings.png" alt="Ableton settings" />
                <p><b>2. </b>Configure channel for each midi track you want to play on Monkey. Use channel 1-10 for instruments and channel 10 for your drum rack</p>
                <img width="600px" src="/assets/resources/ableton/ableton channel.png" alt="Ableton channel" />
                <p>Make sure each track you want to use is armed</p>
                <img width="600px" src="/assets/resources/ableton/ableton arm.png" alt="Ableton arm" />
            </Accordion>
            <Accordion title="FL Studio">
                <p><b>1. </b>Make sure the device is enabled in FL Studio settings</p>
                <img width="600px" src="/assets/resources/fl-studio/1-enable.png" alt="FL Studio settings" />
                <p><b>2. </b>Lock any instrument to the keyboard, to be able to recieve specific MIDI channels</p>
                <img width="600px" src="/assets/resources/fl-studio/2-assign.png" alt="FL Studio assign to keyboard" />
                <p><b>3. </b>Now you can assign as many instruments as you desire, through channel 1-10. And a drum rack to channel 10</p>
                <img width="600px" src="/assets/resources/fl-studio/3-ch1_select.png" alt="FL Studio configure channel" />
                <img width="600px" src="/assets/resources/fl-studio/4-ch10_select.png" alt="FL Studio configure channel" />
            </Accordion>
            <br />
            <br />
            <LinkButton href={routes.monkeyManual} type='highlight'>Next: Manual</LinkButton>
            <br />
            <br />
		</section>
        <Footer />
	</main>
</Layout>

<style>
main {
    margin: 0 20px;
}
p a {
    text-decoration: underline;
    color: rgb(59, 125, 201);
}

section {
    margin: 0 auto;
    max-width: 1000px;
}

img {
    width: 100%;
    max-height: 600px;
    object-fit: contain;
}
</style>