---
import '../../styles/global.css';
import {routes} from '../../routes.js';
import Layout from '../../layouts/Layout.astro';
import Header from '../../layouts/Header.astro';
import Accordion from '../../components/Accordion.astro';
import LinkButton from '../../components/LinkButton.astro';
---

<Layout title="Wavy Industries: MONKEY getting started">
	<main>
		<Header />
		<div class="section-margin">
            <h1>Monkey getting started</h1>
            <i>NOTE: This page is a work in progress. Don't hesitate to contact for any reason. Please request information which you feel should be available:</i>
            <br />
            <b>email:</b> hello@wavyindustries.com <br/>
            <b>discord:</b> @___rein<br />

            <p>Before starting, insert a CR2032 battery into Monkey. The LEDs in the light house as well as the LEDs in the eyes of the monkey will brifely blink indicating it has power and ready to use.</p>

            <h2>Device updates</h2>
            <p>It is recommended to update your device to the newest firmare version. Updates are easily handled within this website, on the <a href="/device-update"><i>device update</i></a> page. If there is a new update available, update your device with a single press of a button.</p>
			
            
            <h2>Connecting up</h2>
            <p>Monkey supports a variety of hosts. Below are specific tutorials for your setup.</p>
            <p>If you have problems finding Monkey, make sure it is not connected to anything else. If you still can't find it, then you can reboot it by pressing SHIFT+WAKE and keeping them pressed for a couple of seconds.</p>
            <Accordion title="macOS">
                <p>We have developed an app named MIDI Connect which simplifies connections on macOS. And its not limited to Wavy devices.</p>
                <LinkButton href={routes['midi-connect-app-store']}>MIDI Conncet on App Store</LinkButton>
                <p>If you do not want to download this app, please follow the proceeding instructions.</p>
                <p><b>1. </b>Open up <i>Audio MIDI Setup</i></p>
                <img width="600px" src="/assets/resources/mac-connect/1-search.png" alt="Search for Bluetooth" />
                <p><b>2. </b>Open MIDI studio</p>
                <img width="600px" src="/assets/resources/mac-connect/2-open_midi_studio.png" alt="Open MIDI studio" />
                <p><b>3. </b>Open the bluetooth panel</p>
                <img width="600px" src="/assets/resources/mac-connect/3-open_bluetooth.png" alt="Open Bluetooth window" />
                <p>Or alternatively if you don't see the bluetooth icon</p>
                <img width="600px" src="/assets/resources/mac-connect/3-alt_open_bluetooth.png" alt="Open Bluetooth window" />
                <p><b>4. </b>Find your device in the list and connect</p>
                <img width="600px" src="/assets/resources/mac-connect/4-connect.png" alt="Connect to Monkey" />
            </Accordion>
            <Accordion title="Windows">
                Windows currently does not have the best support for MIDI over Bluetooth. The steps below might look a bit complicated. But when it's initially done, it should'nt be too bad.
                <p>You will need the following programs installed</p>
                <ol>
                    <li><b>loopMIDI:</b> <a href="https://www.tobias-erichsen.de/software/loopmidi.html">https://www.tobias-erichsen.de/software/loopmidi.html</a></li>
                    <li><b>MIDIBerry:</b> <a href="https://apps.microsoft.com/detail/9n39720h2m05">https://apps.microsoft.com/detail/9n39720h2m05</a></li>
                </ol>
                <p>Then follow these steps to start using Monkey:</p>
                <p><b>0. </b>Windows 11 users first have to enable <i>Advanced devices discovery</i> in bluetooth system settings</p>
                <img width="600px" src="/assets/resources/windows/0-advanced_discovery.jpeg" alt="windows advanced bluetooth" />
                <p><b>1. </b>Pair Monkey in Windows settings. You only need to do this step if Monkey is not paired to your Windows computer. Windows might fail to pair with your device. If so, reboot Monkey and try again.</p>
                <p>After it is successfully paired, Windows will automatically disconnect Monkey. Don't worry, this is expected as Windows don's yet see any reason for being connected to it. It should then appear as a paired device.</p>
                <img width="600px" src="/assets/resources/windows/1-connect_pre.png" alt="windows connect" />
                <img width="600px" src="/assets/resources/windows/2-pairing.png" alt="windows pairing" />
                <img width="600px" src="/assets/resources/windows/2.1-pairing.png" alt="windows paired" />
                <img width="600px" src="/assets/resources/windows/3-connect_post.png" alt="windows connected" />
                <p><b>2. </b>Configure a MIDI port using loopMIDI. Here we name it <q>my midi port</q>.</p>
                <img width="600px" src="/assets/resources/windows/4-port_create.png" alt="port create" />
                <img width="600px" src="/assets/resources/windows/4.1-port_create.png" alt="port create" />
                <p><b>3. </b>Open MIDIBerry, select WAVY MONKEY as input device (this should result in Windows reconnecting to Monkey) and the MIDI port you created as output.</p>
                <p>Now you are done! Check if it works by pressing some random keys on Monkey as seeing wether these notes are recieved in <i>INPUT MONITOR</i> in MIDIBerry.</p>
                <img width="600px" src="/assets/resources/windows/5-select.png" alt="select" />
                <!-- <ol>
                    <li><b>Connect Monkey to Windows through Bluetooth settings: </b>Skip this step if Monkey is already a paired device (stored under <i>Other devices</i>). If you are using Windows 11, you need to first enable <i>advanced Bluetooth scanning</i> in Bluetooth settings. Now try to connect to pair with Monkey. If Widnows fails to connect, then reboot Monkey and try again. Just after it is paired it will automatically disconnect, and this is expected behaviour. Windows will then store it as a paired device</li>
                    <li><b>Create a virtual MIDI port:</b>Now we need to create a virtual MIDI port which we can connect together with our physical MIDI device.</li>
                    <li><b>Connect device MIDIBerry:</b> Select WAVY MONKEY as input device and the virtual MIDI port you created as the output port. Now Windows should again reconnect to MONKEY and your ready to use it in your favorite DAW! Download MIDIBerry here: <a href="https://www.microsoft.com/store/apps/9n39720h2m05">https://www.microsoft.com/store/apps/9n39720h2m05</a> </li>
                </ol> -->
            </Accordion>
            <Accordion title="Android">
                <p>How you should connect depends on the music app you are using with MONKEY. Many apps have a integrated way of connecting to Bluetooth MIDI devices, such as with <i>N-Track for Mobile</i>. Then you should use this method.</p>
                <p><b>1. </b>You can use the application <i>MIDI BLE Connect</i> to connect to your device</p>
                <img width="300px" src="/assets/resources/android/1-find.jpeg" alt="Connect to Monkey" />
                <img width="300px" src="/assets/resources/android/2-connected.jpeg" alt="Connect to Monkey" />
                <p><b>2. </b>Now it is connected and ready to be used, for example using the application <i>MIDI Keyboard</i> or full fledged DAWs</p>
                <img width="600px" src="/assets/resources/android/3-use.jpeg" alt="Use Monkey" />
            </Accordion>
            <Accordion title="ipadOS / IOS">
                <p>Most music apps have an integrated way of connecting to Bluetooth MIDI devices. You should then use this method for connecting to MONKEY.</p>
            </Accordion>
            <Accordion title="TE OP-1">Information coming soon</Accordion>
            <h2>Configure DAW</h2>
            <p>By default Monkey sends on MIDI channel 1 for instruments and 10 for the drums. The instrument channel is changeable by pressing SHIFT+CH, then while keeping SHIFT pressed, press one of the numbered buttons. Selecting channel 0 on Monkey selects MIDI channel 10.</p>
            <Accordion title="Ableton Live">
                <p><b>1. </b>Make sure Monkey is enabled in settings MIDI Ports</p>
                <img width="600px" src="/assets/resources/ableton/ableton settings.png" alt="Ableton settings" />
                <p><b>2. </b>Configure channel for each midi track you want to play on Monkey. Use channel 1-10 for instruments and channel 10 for your drum rack</p>
                <img width="600px" src="/assets/resources/ableton/ableton channel.png" alt="Ableton channel" />
                <p>Make sure each track you want to use is armed</p>
                <img width="600px" src="/assets/resources/ableton/ableton arm.png" alt="Ableton arm" />
            </Accordion>
            <Accordion title="FL Studio">
                <p><b>1. </b>Make sure the device is enabled in FL Studio settings</p>
                <img width="600px" src="/assets/resources/fl-studio/1-enable.png" alt="FL Studio settings" />
                <p><b>2. </b>Lock any instrument to the keyboard, to be able to recieve specific MIDI channels</p>
                <img width="600px" src="/assets/resources/fl-studio/2-assign.png" alt="FL Studio assign to keyboard" />
                <p><b>3. </b>Now you can assign as many instruments as you desire, through channel 1-10. And a drum rack to channel 10</p>
                <img width="600px" src="/assets/resources/fl-studio/3-ch1_select.png" alt="FL Studio configure channel" />
                <img width="600px" src="/assets/resources/fl-studio/4-ch16_select.png" alt="FL Studio configure channel" />
            </Accordion>
		</div>
	</main>
</Layout>

<style>
main {
    margin: 0 20px;
}
p a {
    text-decoration: underline;
}
</style>