---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Home">
  <h1>Success</h1>
  <span id="payment-id"></span>
</Layout>

<script>

const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const paymentId = urlParams.get('id');
document.getElementById('payment-id').innerText = paymentId;
</script>