---
import '../../styles/global.css';
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Wavy Industries: Monkey purchase">
  <section>
    <div class="banner"><img src="/assets/logo.svg" /></div>
    <div class="content">
      <h4>WAVY MONKEY (preorder)</h4>
      <p>Price: <b>€59</b></p>
      <p>The development is finished, we are currently working hard to make sure we deliver a great customer experience.</p>
      <p>Expected initial shipment: <b>Late August</b></p>
    </div>
    <a href="https://buy.stripe.com/7sI9Co9Mwb8a6WIbIJ" class="chechout-button">Proceed to checkout <img height="10px" src="/assets/icons/arrow.right.svg" alt="arrow right" /></a>
  </section>
</Layout>

<style>  
section {
  margin: 75px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  
.banner {
  background-color: #FFEF5A;
  padding: 20px;
}

.content {
  background-color: #F5F5F5;
  padding: 20px;
  min-height: 300px;
}

.chechout-button {
  background-color: #5A88FF;
  color: white;
  width: 100%;
  border: none;
  padding: 20px 0;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.chechout-button:hover {
  background-color: #4378ff;
  /* cursor: pointer; */
  text-decoration: none;
}
</style>