---
import '../../styles/global.css';
import { routes } from '../../routes';
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Wavy Industries: Purchase complete">
  <section>
    <div class="banner"><img src="/assets/logo.svg" /></div>
    <div class="content">
      <h2>Purchase complete!</h2>
      <p>Thank you for purchasing Wavy MON<b>KEY</b><br />You will receive an email with the receipt.</p>
      <p>Order reference: <b><span id="payment-id"></span></b> (make sure you keep this)</p>
    </div>
    <a href="/" class="back-link"><img height="10px" src="/assets/icons/arrow.right.svg" alt="arrow right" /> Back to website</a>
  </section>
</Layout>

<style>  
section {
  margin: 75px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  
.banner {
  background-color: #FFEF5A;
  padding: 20px;
}

.content {
  background-color: #F5F5F5;
  padding: 20px;
}

#payment-id {
  display: block;
  word-wrap: break-word;
}

.back-link {
  width: 100%;
  font-weight: 300;
  text-decoration: underline;
  text-align: center;
}
.back-link img {
  filter: invert(100%);
  transform: rotate(180deg);
}

.chechout-button:hover {
  background-color: #4378ff;
  cursor: pointer;
}
</style>

<script>
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const paymentId = urlParams.get('id');
document.getElementById('payment-id').innerText = paymentId;
</script>