---
import '~/styles/global.css';
import Layout from "~/layouts/Layout.astro";

import logoImg from '~/assets/logo.svg';
import arrowRightImg from '~/assets/icons/arrow.right.svg';
---

<Layout title="Wavy Industries: Monkey purchase">
  <section>
    <div class="banner"><img src={logoImg.src} /></div>
    <div>
      <div class="content">
        <h4>WAVY MONKEY</h4>
        <p>Price: <b>€59</b> <span id="VAT" >ex. VAT</span><br/><i class="shipping-info">Depending on your country, import taxes may apply.</i></p>
        <p>MONKEY ships within a few days of your order, but delays may occur if it is out of stock.</p>
        <div id="shipping-status"></div>
        <div id="shipping-status-leadtime" class="shipping-info"></div>
      </div>
      <hr />
      <div class="content">
        <p>Choose shipping region:</p>
        <div>
          <input type="radio" id="european-option" name="shipping" value="european" checked>
          <label for="european-option">European (€10)</label>
          <p class="hidden shipping-info" id="european-info">Not all European contries are included. Select international shipping for those countries.</p>
          <br />
          <input type="radio" id="international-option" name="shipping" value="international">
          <label for="international-option">International (€14)</label>
          <br />
          <input type="radio" id="pickup-option" name="shipping" value="pickup">
          <label for="pickup-option">Pickup in <i>Trondheim, Norway</i> (free)</label>
          <p class="hidden shipping-info" id="pickup-info">Local pickup in Trondheim, Norway. We contact you to arrange a time for pickup.</p>
        </div>
      </div>
    </div>
    <a href="" id="checkout-link" class="chechout-button" target="_self">Proceed to checkout <img height="10px" src={arrowRightImg.src} alt="arrow right" /></a>
  </section>
</Layout>


<style>  
section {
  margin: 75px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  
hr {
  border: 0;
  margin: 0;
  height: 1px;
  background: #d5d5d5;
}

input {
  margin-top: 10px;
}

.banner {
  background-color: #d5d5d5;
  padding: 20px;
}

.content {
  background-color: #F5F5F5;
  padding: 20px;
  /* min-height: 300px; */
}

#VAT {
  font-size: 12px;
  margin-left: 5px;
  font-style: italic;
}

.chechout-button {
  background-color: #5A88FF;
  color: white;
  width: 100%;
  border: none;
  padding: 20px 0;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.chechout-button:hover {
  background-color: #4378ff;
  /* cursor: pointer; */
  text-decoration: none;
}

/* add stock status classes with light background colors */
#shipping-status {
  padding: 5px;
  margin-top: 10px;
  font-style: italic;
  display: inline-block;
}

.shipping-info {
  font-size: 12px;
  font-style: italic;
}

.in-stock {
  background-color: #d4edda;
}

.out-of-stock {
  background-color: #f7f8d7;
}

.low-stock {
  background-color: #f4ffcd;
}

.unknown-stock {
  background-color: #eee;
}
.hidden {
  display: none;
}
</style>

<script>
type ShippingOptions = 'european' | 'international' | 'pickup';

let shippingUrl = {
  european: 'https://buy.stripe.com/7sI9Co9Mwb8a6WIbIJ',
  international: 'https://buy.stripe.com/cN2cOAaQA2BEgxidQS',
  pickup: 'https://buy.stripe.com/5kA15S0bW2BEch28wz',
}

let checkoutLink = document.getElementById('checkout-link') as HTMLAnchorElement;
function updateUrl(val: ShippingOptions) {
  switch (val) {
    case 'european':
      document.getElementById('european-info').classList.remove('hidden');
      document.getElementById('pickup-info').classList.add('hidden');
      break;
    case 'international':
      document.getElementById('european-info').classList.add('hidden');
      document.getElementById('pickup-info').classList.add('hidden');
      break;
    case 'pickup':
      document.getElementById('pickup-info').classList.remove('hidden');
      document.getElementById('european-info').classList.add('hidden');
      break;
  }

  checkoutLink.href = shippingUrl[val];
}


window.addEventListener('pageshow', function() {
  const radios = document.querySelectorAll('input[type="radio"][name="shipping"]') as NodeListOf<HTMLInputElement>;

  // Event listener for radio button changes
  radios.forEach(radio => {
    if (radio.checked)
      updateUrl(radio.value as ShippingOptions);

    radio.addEventListener('change', function(e) {
      const target = e.target as HTMLInputElement;
      let shippingMethod = target.value as ShippingOptions;
      updateUrl(shippingMethod);
    });
  });
});

async function getStockStatus() {
  try {
    const response = await fetch('https://server.wavyindustries.com/api/product/getStock/WIMKY001');
    const data = await response.json();
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    const stock_status = data.stock_status;
    let shippingStatus = document.getElementById('shipping-status');
    let shippingLeadtime = document.getElementById('shipping-status-leadtime');
    shippingStatus.innerHTML = 'Status: ' + stock_status;
    shippingLeadtime.innerHTML = '';

    // add status class based on status, using switch
    switch (stock_status) {
      case 'in stock':
        shippingStatus.classList.add('in-stock');
        break;
      case 'out of stock':
        shippingStatus.classList.add('out-of-stock');
        shippingLeadtime.innerHTML = 'Lead time: 3-4 weeks';
        break;
      case 'low stock':
        shippingStatus.classList.add('low-stock');
        break;
      default:
        shippingStatus.classList.add('unknown-stock');
    }
  } catch (error) {
    console.error('Error:', error);
  }
}
getStockStatus();
</script>