---
import '../../styles/global.css';
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Wavy Industries: Monkey purchase">
  <section>
    <div class="banner"><img src="/assets/logo.svg" /></div>
    <div>
      <div class="content">
        <h4>WAVY MONKEY</h4>
        <p>Price: <b>€59</b> <span id="VAT" >ex. VAT</span></p>
        <p>We ship MONKEY weekly but longer delays might occur if we are out of stock.</p>
      </div>
      <hr />
      <div class="content">
        <p>Select shipping method:</p>
        <div>
          <input type="radio" id="european-letter" name="shipping" value="letter" checked>
          <label for="european-letter">European Letter (€10)</label>
          <br />
          <input type="radio" id="international-parcel" name="shipping" value="parcel">
          <label for="international-parcel">International Parcel (€19)</label>
        </div>
      </div>
    </div>
    <a href="" id="checkout-link" class="chechout-button">Proceed to checkout <img height="10px" src="/assets/icons/arrow.right.svg" alt="arrow right" /></a>
  </section>
</Layout>

<style>  
section {
  margin: 75px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  
hr {
  border: 0;
  margin: 0;
  height: 1px;
  background: #d5d5d5;
}

input {
  margin-top: 10px;
}

.banner {
  background-color: #d5d5d5;
  padding: 20px;
}

.content {
  background-color: #F5F5F5;
  padding: 20px;
  /* min-height: 300px; */
}

#VAT {
  font-size: 12px;
  margin-left: 5px;
  font-style: italic;
}

.chechout-button {
  background-color: #5A88FF;
  color: white;
  width: 100%;
  border: none;
  padding: 20px 0;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.chechout-button:hover {
  background-color: #4378ff;
  /* cursor: pointer; */
  text-decoration: none;
}
</style>

<script>
let shippingUrl = {
  letter: 'https://buy.stripe.com/7sI9Co9Mwb8a6WIbIJ',
  parcel: 'https://buy.stripe.com/cN2cOAaQA2BEgxidQS'
}

let checkoutLink = document.getElementById('checkout-link');
function updateUrl(val) {
  // update href of a
  console.log("updating url")
  checkoutLink.href = shippingUrl[val];
}

document.addEventListener('DOMContentLoaded', function() {
  const radios = document.querySelectorAll('input[type="radio"][name="shipping"]');
  radios.forEach(radio => {
    radio.addEventListener('change', function(e) {
      let shippingMethod = e.target.value;
      updateUrl(shippingMethod);
    });
    // check if initially checked as well
    if (radio.checked) {
      let shippingMethod = radio.value;
      updateUrl(shippingMethod);
    }
  });
});

</script>