---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';

---

<Layout title="Wavy Industries: device update">
	<main>
		<Header />
		<div class="section-margin">
			<p>Coming soon:)</p>
		</div>
		<Footer />
	</main>
</Layout>

<style>
p {
	font-size: 24px;
}
</style>