---
// import '~/styles/global.css';
import Layout from '~/layouts/Layout.astro';
// import Header from '~/layouts/Header.astro';
// import Footer from '~/layouts/Footer.astro';
// import LinkButton from '~/components/LinkButton.astro';
import { routes } from '~/routes';

// images
import monkeyImg from '~/assets/monkey/monkey_front.png';
---

<Layout title="Wavy Industries">
	<!-- <main>
		<Header />
		<section>
			<h1>Introducing MON<span style="font-weight: 400;" >KEY</span></h1>
			<p class="catch-phrase">An ultra-portable Bluetooth MIDI keyboard</p>
			<div id="monkey-present">
				<div>
					<img src={monkeyImg.src} alt="Monkey" />
				</div>
				<div>
					<p>Monkey at its simplest form is just a Bluetooth MIDI keyboard with ultra long battery life. But through the SHIFT key you get access to all of its other features. Monkey has 6 MIDI effects, each with 10 presets. Furthermore it includes a loop recorder for you to record your ideas with up to 10 instruments! </p>
					<p class="section-links">
						<LinkButton href={routes.monkey}>Learn more</LinkButton>
						<LinkButton href={routes.monkeyPurchase} type="highlight" >Buy now €59</LinkButton>
					</p>
				</div>
			</div>
		</section>
		<Footer />
	</main> -->
</Layout>

<script define:vars={{routes}}>
	// redirect to monkey page
	window.location.href = routes.monkey;
</script>

<!-- <style>
main {
	/* background-color: #FFFFF5; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

section {
	width: 100%;
	padding: 0 20px;
}

h1 {
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.catch-phrase {
	font-size: 20px;
	font-weight: 300;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

#monkey-present {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	width: 100%;
	padding: 20px 0px;
}

#monkey-present img {
	object-fit: contain;
	width: 100%;
}

#monkey-present > div {
	flex: 1 1 400px;
}

.section-links {
	display: flex;
	gap: 15px;
	padding: 15px 0;
}
</style> -->
