---
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Wavy Industries">
	<main>
		<Header />
		<section class="content">
			<p>Based in Norway, we develop MIDI devices using low-latency, low-power Bluetooth.</p>
		</section>
		<Footer />
	</main>
</Layout>

<style>
	.content {
		font-size: 16px;
		margin-left: 30px;
		margin-top: 70px;
		min-height: 80vh;
	}
</style>
