---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Wavy Industries">
	<main>
		<Header />
		<section class="content">
			<p class="catch">Based in Norway, we develop music making devices.</p>
			<a href="/monkey"><div id="monkey" ><img src="/assets/monkey_kok2.png" /></div></a>
			<div class="info">
				<p><i><b>Core team:</b> <a href="https://www.linkedin.com/in/rein-gundersen-bentdal-201701188/" target="_blank">Rein Gundersen Bentdal</a></i></p>
				<p><i><b>Special thanks to:</b> Herman Gording Hong, Erik Hognestad, Frida Gundersen Bentdal, Carsten Wulff, Eric Bezzam, Paolo Prandoni, Olve Sævik, Selma Gundersen Bentdal</i></p>
			</div>
		</section>
		<Footer />
	</main>
</Layout>

<style>
	@keyframes bounce {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(0.9);
		}
		100% {
			transform: scale(1);
		}
	}
	/* html, body {
		margin: 0;
		padding: 0;
		height: 100%;
	} */

	main {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.content {
		flex-grow: 1;
		font-size: 16px;
		margin-left: 30px;
		margin-right: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	#monkey {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
	}
	#monkey img {
		object-fit: contain;
		max-width: 100%;
		animation: bounce 4s infinite;
		animation-timing-function: ease-in-out;
	}
	.catch {
		margin-top: 70px;
	}

	.info {
		font-size: 14px;
		margin-top: 120px;
		font-family: 'Courier New', Courier, monospace;
		display: flex;
		flex-direction: column;
	}
</style>
