---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
---

<Layout title="Wavy Industries">
	<main>
		<Header />
		<section class="content">
			<p class="catch">Based in Norway, we develop music making devices.</p>
			<div class="info">
				<p><i><b>Core team:</b> <a href="https://www.linkedin.com/in/rein-gundersen-bentdal-201701188/" target="_blank">Rein Gundersen Bentdal</a></i></p>
				<p><i><b>Special thanks to:</b> Herman Gording Hong, Erik Hognestad, Frida Gundersen Bentdal, Carsten Wulff, Eric Bezzam, Paolo Prandoni, Olve Sævik, Anton Hamer, Wilhelm Kruse Kielland, Selma Gundersen Bentdal</i></p>
			</div>
		</section>
	</main>
</Layout>

<style>
	.content {
		font-size: 16px;
		margin-left: 30px;
		margin-right: 30px;
		height: calc(100vh - 165px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.catch {
		margin-top: 70px;
	}

	.info {
		font-size: 14px;
		margin-top: 120px;
		font-family: 'Courier New', Courier, monospace;
	}
	.info p {
		margin-bottom: 40px;
	}
</style>
