---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';

---

<Layout title="Wavy Industries: K3">
	<main>
		<Header />
		<div class="contents">
            <div class="page-links">
                <ul>
                    <li><a href="" class="disabled">buy</a></li>
                    <li><a href="http://eepurl.com/ivXTOk" style="color: #0075FF">get updates</a></li>
                </ul>
            </div>
        </div>
		<div class="section-margin">
			<p>More info on K3 is coming soon</p>
		</div>
		<!-- <Footer /> -->
	</main>
</Layout>

<style>
ul {
    list-style-type: none;
    font-size: 16px;
    margin: 0px;
    padding: .5em 0px;
}
.page-links span {
    min-width: 750px;
    overflow-x: scroll;
}
ul li {
    display: inline;
    margin: 0px 15px;
}

p {
    font-size: 16px;
}
.contents {
    margin-bottom: 50px;
    width: 100%;
}
.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
.page-links {
    background-image: url('/assets/k3.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: black;
    padding: 5px 15px 0px 15px;
}
</style>