---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Wavy Industries: K3">
	<main>
		<Header />
		<div class="contents">
            <div class="page-links">
                <ul>
                    <li><a href="" class="disabled">get on macOS</a></li>
                    <li><a href="http://eepurl.com/ivXTOk" style="color: #53b6ff">get updates</a></li>
                </ul>
            </div>
        </div>
		<div class="section-margin">
			<p>MIDI connect makes is super easy to manage your Bluetooth MIDI devices. Now you don’t have to menu dive every time you want to connect to your devices. Simply select it in the menu bar list or enable automatic connections.

				In addition the app has a built in tool to update your Wavy devices seamlessly.
				
				Note: For use with non Wavy devices, there is a unlimited free version. However every once in a while you will get a notification notifying you that its a free version. Upgrade to the paid version for €5.99 and you will no longer be bothered. Then you can use it with other Bluetooth MIDI devices just like with the Wavy devices.</p>
                <p><i>Coming soon to macOS</i></p>
		</div>
	</main>
    <Footer />
</Layout>

<style>
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    font-size: 16px;
    margin: 0px;
    padding: .5em 0px;
}
.page-links span {
    min-width: 750px;
    overflow-x: scroll;
}
ul li {
    display: inline;
    margin: 0px 15px;
}

p {
    font-size: 16px;
}
.contents {
    margin-bottom: 50px;
    width: 100%;
}
.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
.page-links {
    background-image: url('/assets/midi-connect.png');
    background-size: cover;
    background-position:top right;
    height: 400px;
    color: white;
    padding: 5px 15px 0px 15px;
}
</style>