---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';

---

<Layout title="Wavy Industries: MIDI connect">
	<main>
		<Header />
		<div class="contents">
            <div class="section-margin">
                <ul>
                    <li><a href="" class="disabled">download for macOS (coming soon)</a></li>
                    <li><a href="http://eepurl.com/ivXTOk" style="color: #0075FF">Subscribe to updates</a></li>
                </ul>
            </div>
        </div>
		<div class="section-margin">
			<img src="/assets/midi connect.png" />
			<p>MIDI connect makes is super easy to manage your Bluetooth MIDI devices. Now you don’t have to menu dive every time you want to connect to your devices. Simply select it in the menu bar list or enable automatic connections.

				In addition the app has a built in tool to update your Wavy devices seamlessly.
				
				Note: For use with non Wavy devices, there is a unlimited free version. However every once in a while you will get a notification notifying you that its a free version. Upgrade to the paid version for €5.99 and you will no longer be bothered. Then you can use it with other Bluetooth MIDI devices just like with the Wavy devices.</p>
		</div>
		<Footer />
	</main>
</Layout>

<style>
ul {
    list-style-type: none;
    font-size: 16px;
    font-style: italic;
    margin: 0.5em 0px;
    padding: 0px;
    display: flex;
    gap: 50px;
}
ul li {
    display: inline;
}

p {
    font-size: 24px;
}
img {
    max-width: 400px;
    width: 100%;
}
.contents {
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 50px;
    width: 100%;
}
.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
</style>