---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout title="Wavy Industries: monkey">
    <main>
        <Header />
        <div class="contents">
            <div class="page-links">
                <div>
                    <ul>
                        <li><a href="/monkey/getting-started">getting started</a></li>
                        <li><a href="/monkey/purchase" style="color: #3491d7; font-weight: bold;">pre-order €59</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-margin">
            <p>
                Monkey is a pocket sized Bluetooth MIDI keyboard. It has several
                built in unique MIDI effects, a drum machine and a looper. Each of the effects is equiped with 10 different algorithms.
                Monkey is optimised for low latency and low power consumption,
                enabling several months of usage without changing the battery. It connects to lots of hosts
                including macOS, OP-1F, ipadOS, Windows and Android.
            </p>
            <p>
                We believe Bluetooth has great unutilized potential. But we can
                not tap into this without making Bluetooth very easy and
                practical to use, and providing high reliability. Monkey
                is our first product which taps into this. From our perspective
                we don't see a bunch of Bluetooth-centric MIDI devices on the
                market. This is the core idea from where Monkey originates from:
                lets make a device which only connects via Bluetooth and explore
                which new form factors and workflows spores out of this idea.
            </p>
            <!-- <p class="info"><b>Artwork credit:</b> Herman Gording Hong, Selma Gundersen Bentdal</p> -->
        </div>
    </main>
    <Footer />
</Layout>

<style>
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    font-size: 16px;
    margin: 0px;
    padding: 0.5em 0px;
}
.page-links span {
    min-width: 750px;
    overflow-x: scroll;
}
ul li {
    display: inline;
    margin: 0px 15px;
}

p {
    font-size: 16px;
}
img {
    max-width: 600px;
    width: 100%;
}
.contents {
    margin-bottom: 50px;
    width: 100%;
}
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.page-links {
    background-image: url("/assets/monkey/preview-lava-lamp.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    padding: 5px 15px 0px 15px;
}
.info {
    font-size: 14px;
    margin-top: 120px;
    font-family: 'Courier New', Courier, monospace;
}
</style>
