---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';

---

<Layout title="Wavy Industries: About">
	<main>
		<Header />
		<div class="contents">
            <div class="section-margin">
                <ul>
                    <li><a href="/monkey/getting-started" >getting started guide</a></li>
                    <li><a href="" class="disabled">buy now (coming soon)</a></li>
                    <li><a href="http://eepurl.com/ivXTOk" style="color: #0075FF">Subscribe to updates</a></li>
                </ul>
            </div>
        </div>
		<div class="section-margin">
			<img src="/assets/monkey dark.png" />
			<p>Monkey is a pocket sized Bluetooth MIDI keyboard. It has several built in unique MIDI effects, a drum machine and a looper. Monkey is optimised for low latency and low power consumption, enabling several months of usage. It connects to lots of hosts including macOS, OP-1, ipadOS, Windows and Android.</p>
			<p>We believe Bluetooth has great unutilized potential. But we can not tap into this without making Bluetooth very easy and practical to use as well as providing high reliability. Monkey is our first product which taps into this. From our perspective we don’t see a bunch of Bluetooth-centric MIDI devices on the market. This is the core idea from where Monkey originates from: lets make a device which only connects via Bluetooth and explore which new form factors and workflows spores out of this origin. We had this thought: lets imagine having a guitar placed in the living room. One scenario where its stored inside the case and where its outside the case. Picking up the guitar which is outside its case can almost be unconscious and you are in a exploratory state of mind. If the guitar is inside its case you have to make a conscious decision to take it out of its case and start playing. We love the idea of the entire process being almost unconscious with low barrier to step into a creative world. This is also how we think about Monkey. Enabled by it’s extremely low power consumption we have the luxury to keep the device powered on at all times. Actually it doesn't even have a power on/off feature, it’s always on. Then you might pick it up at any moment, in the studio, in your couch or whatever, and start playing around. You might then use it as a typical MIDI keyboard. But we take this exploratory idea a step further and include a bunch of MIDI effects. These effects are made to be diverse and unique, helping you come up with new and creative ideas. One of these effects is a drum machine, which combined with the built in looper makes it possible to make full fledged ideas completely on the monkey.</p>
			<p>We provide a tool named MIDI Connect for macOS. While monkey works with a bunch of hosts, we currently have best support for macOS. This tool makes it even easier to manage you Bluetooth MIDI devices and with the extra option to automatically connecting to your devices. Similar to how Bluetooth audio headsets automatically connects. Check it out here.</p>
		</div>
		<Footer />
	</main>
</Layout>

<style>
ul {
    list-style-type: none;
    font-size: 16px;
    font-style: italic;
    margin: 0.5em 0px;
    padding: 0px;
    display: flex;
    gap: 50px;
}
ul li {
    display: inline;
}

p {
    font-size: 24px;
}
img {
    max-width: 600px;
    width: 100%;
}
.contents {
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 50px;
    width: 100%;
}
.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
</style>