---
import '~/styles/global.css';
import Layout from '~/layouts/Layout.astro';
import Header from '~/layouts/Header.astro';
import Footer from '~/layouts/Footer.astro';
import LinkButton from '~/components/LinkButton.astro';
import { routes } from '~/routes';
---

<Layout title="Wavy Industries">
	<main>
		<Header />
		<section>
			<h1>Guides</h1>
            <LinkButton href={routes.monkeyGettingStarted} type="default" >MONKEY getting started</LinkButton>
            <LinkButton href={routes.monkeyManual} type="default" >MONKEY manual</LinkButton><br /><br />
		</section>
		<Footer />
	</main>
</Layout>

<style>
main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
section {
	width: 100%;
	padding: 0 20px;
}

h1 {
	margin-block-start: 0em;
	margin-block-end: 0em;
}
</style>