<div id="mc_embed_shell">
    <link
        href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"
        rel="stylesheet"
        type="text/css"
    />
    <div>
        <form
            action="https://gmail.us17.list-manage.com/subscribe/post?u=aeaa412d0bb97f711adce99bf&id=915dc46d7f&f_id=00aa7fe0f0"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate"
            target="_blank"
        >
            <h3>Sign up for updates on new firmware releases</h3>
            <p style="font-size:12px"><i>You can unsubscrive at any moment</i></p>
            <input
                type="email"
                name="EMAIL"
                placeholder="Your email address"
                class="required email"
                id="mce-EMAIL"
                required=""
                value=""
            />
            <div hidden="">
                <input type="hidden" name="tags" value="7113789" />
            </div>

            <div
                aria-hidden="true"
                style="position: absolute; left: -5000px;"
            >
            /* real people should not fill this in and expect good
            things - do not remove this or risk form bot signups */
            <input
                type="text"
                name="b_aeaa412d0bb97f711adce99bf_915dc46d7f"
                tabindex="-1"
                value=""
            />
            </div>
            <input
                type="submit"
                name="subscribe"
                class="button"
                value="Subscribe"
            />
        </form>
    </div>
</div>

<script type="text/javascript">

    function loadMailchimpScript() {
        // Load script
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js";
        document.head.appendChild(script);
        
        // Run it
        script.onload = function() {
            (function ($) {
                window.fnames = new Array();
                window.ftypes = new Array();
                fnames[0] = "EMAIL";
                ftypes[0] = "email";
            })(jQuery);
            var $mcj = jQuery.noConflict(true);
        };
    }

    // Load script when page is loaded. Give it a little delay to prioritize other scripts
    window.addEventListener('load', function() {
        setTimeout(loadMailchimpScript, 100);
    });
</script>