<div id="mc_embed_shell">
    <link
        href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"
        rel="stylesheet"
        type="text/css"
    />
    <div id="mc_embed_signup">
        <form
            action="https://gmail.us17.list-manage.com/subscribe/post?u=aeaa412d0bb97f711adce99bf&id=915dc46d7f&f_id=00aa7fe0f0"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate"
            target="_blank"
        >
            <div id="mc_embed_signup_scroll">
                <h2>Get notifications on new version releases</h2>
                <p>Get a short email notification when a new version of the firmware is available for your device. You might unsubscribe from these updates at any moment.</p>
                <!-- <div class="indicates-required">
                    <span class="asterisk">*</span> indicates required
                </div> -->
                <div class="mc-field-group">
                    <label for="mce-EMAIL"
                        >Email Address 
                        <!-- <span class="asterisk">*</span> -->
                    </label
                    ><input
                        type="email"
                        name="EMAIL"
                        class="required email"
                        id="mce-EMAIL"
                        required=""
                        value=""
                    /><span id="mce-EMAIL-HELPERTEXT" class="helper_text"
                    ></span>
                </div>
                <div hidden="">
                    <input type="hidden" name="tags" value="7113789" />
                </div>
                <div id="mce-responses" class="clear foot">
                    <div
                        class="response"
                        id="mce-error-response"
                        style="display: none;"
                    >
                    </div>
                    <div
                        class="response"
                        id="mce-success-response"
                        style="display: none;"
                    >
                    </div>
                </div>
                <div
                    aria-hidden="true"
                    style="position: absolute; left: -5000px;"
                >
                    /* real people should not fill this in and expect good
                    things - do not remove this or risk form bot signups */
                    <input
                        type="text"
                        name="b_aeaa412d0bb97f711adce99bf_915dc46d7f"
                        tabindex="-1"
                        value=""
                    />
                </div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input
                            type="submit"
                            name="subscribe"
                            id="mc-embedded-subscribe"
                            class="button"
                            value="Subscribe"
                        />
                        <p style="margin: 0px auto;">
                            <a
                                href="http://eepurl.com/iOfVqk"
                                title="Mailchimp - email marketing made easy and fun"
                                >
                                <span style="font-size: 10px" >Powered by MailChimp</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    #mc_embed_signup {
        /* background-color: #E4E3DD; */
        clear: left;
        /* font:
            14px Helvetica,
            Arial,
            sans-serif; */
        width: 600px;
        padding: 5px;
        margin-top: 40px;
        border: 1px solid rgba(0,0,0,0.2);
    }
</style>

<script
    type="text/javascript"
    src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
></script><script type="text/javascript">
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = "EMAIL";
        ftypes[0] = "email";
    })(jQuery);
    var $mcj = jQuery.noConflict(true);
</script>
