---
import '../styles/global.css';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  type?: 'highlight' | 'default';
}

const { href, type = 'default', ...rest } = Astro.props;
---

<a href={href} class={type} {...rest}>
  <slot />
</a>

<style>
a {
  text-decoration: none;
  
  font-size: 14px;
  font-weight: 400;
  padding: 6px 10px;
  /* border-radius: 5px; */
}

.default {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}
.default:hover {
  background-color: #f0f0f0;
}

.highlight {
  background-color: rgb(8 76 207);
  color: white;
  border: 1px solid #A0BEE9;
}

.highlight:hover {
  background-color: blue;
}
</style>