---
import '../styles/global.css';

interface Props {
  title: string;
  href: string;
  type: 'highlight' | 'default';
}

const { title, href, type = 'default' } = Astro.props;
---

<a href={href} class={type}>
  {title}
</a>

<style>
a {
  text-decoration: none;
  
  font-size: 16px;
  font-weight: 400;
  padding: 8px 14px;
  border-radius: 2px;
}

.default {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}
.default:hover {
  background-color: #f0f0f0;
}

.highlight {
  background-color: #DDE4F1;
  color: rgb(8 76 207);
  border: 1px solid #A0BEE9;
}

.highlight:hover {
  background-color: #d7deec;
}
</style>