<span>
    <slot />
</span>

<style>
    span {
        display: inline-block;
        padding: 5px 10px;
        background-color: #F6F0F2;
        border-radius: 3px;
        color: #333;
    }
</style>