---
interface Props {
  href: string;
  type?: 'highlight' | 'default';
}

const { href, type = 'default' } = Astro.props;
---

<a href={href} class={type}>
  <slot />
</a>

<style>
a {
    border-radius: 50px; /* something big to force completely round */
    background-color: rgb(130, 130, 130);
    color: black;
    font-size: 12px;
    padding: 3px 6px;
    display: inline-block;
}
a:hover {
    text-decoration: none;
    background-color: white;
}
</style>