---
interface Props {
	info: string;
}

const {info, ...rest} = Astro.props
---

<span class="tooltip" {...rest}>
    <slot />
    <span class="tooltiptext">{info}</span>
</span>

<style>
        /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        font-size: 16px;
        padding: 0px 5px;
        margin-left: 10px;
        
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
    visibility: visible;
    }
</style>