---
import '../styles/global.css';

---

<footer>
    <section class="section-margin">
        Lillehammer, Norway
    </section>
</footer>

<style>
    footer {
        background-color: black;
        width: 100%;
        height: 300px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 2rem 0;
    }
</style>