---
import '../styles/global.css';
import { routes } from '../routes';
---

<footer>
    <div>
        <span>Wavy Industries</span>
        <span>📍Norway</span>
        <a id="something-special-footer-a"><span id="something-special-footer"></span></a>
        <a href={routes.wavyDiscord} target="_blank"><span><img alt="Discord channel link" src="/assets/Discord blue mark.svg" /> Discord</span></a>
        <a href={routes.newsletter} target="_blank"><img alt="newsletter" src="/assets/mail.stack.fill.svg"/> Newsletter</a>
    </div>
</footer>

<style>
footer {
    flex-grow: 2;
    /* padding: 20px 0; */
    display: flex;
    align-items: end;

}

footer > div {
    background-color: #f5f5f5;
    width: 100vw;
    font-style: italic;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

footer > div > * {
    padding: 0.5rem 1rem;
}

img {
    filter: brightness(0%);
    height: 12px;
}

a:hover img {
    filter: brightness(100%);
}

span {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

a:hover span {
    text-decoration: underline;
}
</style>

<script>
function doSomethingSpecial() {
    let special = document.getElementById('something-special-footer');
    let specialA = document.getElementById('something-special-footer-a');
    let special1 = "hell"
    let special2 = "o"
    special.innerHTML = special1 + special2 + "@"+ "wavyindustries.com";
    specialA.href = "mai" + "lto:" + special1 + special2 + "@" + "wavyindustries.com";
}
setTimeout(doSomethingSpecial, 1000);
</script>