---
import '../styles/global.css';
---

<footer>
    <span>Wavy Industries</span>
    <span>Lillehammer, Norway</span>
    <span id="something-special"></span>
</footer>

<style>
    footer {
        width: 100%;
        font-style: italic;
        font-size: 12px;
        font-weight: 300;
        margin-top: 25px;
    }

    footer span {
        padding: 1rem;
    }
</style>

<script>
    let special = document.getElementById('something-special');
    let special1 = "rein"
    let special2 = ".bent"
    special.innerHTML = special1 + special2 + "@gmail.com";
</script>