---
interface Props {
	textColor: 'black' | 'white';
}

const { textColor = 'black' } = Astro.props;

import '../styles/global.css';

const currentPage = new URL(Astro.request.url).pathname.replace(/\/$/, '').replace(/\.html$/, "");

function linkClass(link) {
    // Create a regex to match the link path as a prefix, ensuring that it matches full directory segments
    const regex = new RegExp(`^${link}(/|$)`);

    // Check if the current page starts with the link path using the regex
    return regex.test(currentPage) ? "active-link" : "";
}
---
<header class={textColor == 'white' ? 'text-white' : 'text-black'}>
    <div class="logo">
        <a href="/"><img src=`/assets/${textColor == 'white' ? 'logo-white.svg' : 'logo.svg'}` /></a>
    </div>

    <nav>

        <div>
            <h3>Products</h3>
            <ul>
                <li class={linkClass('/monkey')}><a href="/monkey">MONKEY</a></li>
                <li class={linkClass('/KD-3')}><a href="/KD-3">KD-3</a></li>
            </ul>
        </div>
        
        <div>
            <h3>Resources</h3>
            <ul>
                <li class={linkClass('/resources/guides')}><a href="/resources/guides">guides</a></li>
                <li class={linkClass('/resources/device-update')}><a href="/resources/device-update">device update</a></li>
            </ul>
        </div>

        <div>
            <h3>Connect</h3>
            <ul>
                <li><a href="https://discord.gg/qm9ggkDzdc" target="_blank">discord ⬀</a></li>
                <li><a href="http://eepurl.com/ivXTOk" target="_blank">newsletter ⬀</a></li>
                <li><a href="mailto:hello@wavyindustries.com" target="_blank">contact ⬀</a></li>
            </ul>
        </div>

    </nav>
</header>

<style>
    header {
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;

        display: flex;
        justify-content: space-between;
        align-items: top;
        gap: 15px;
    }

    .text-black {
        color: black;
    }
    .text-white {
        color: rgba(255, 255, 255, 0.8);
    }

    .logo {
        width: 200px;
        height: 100%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    nav h3 {
        margin-block-start: 0em;
        margin-block-end: 5px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        font-size: 14px;
        font-weight: 400
    }

    ul li.active-link {
        font-weight: bold;
        text-decoration: underline;
    }
</style>