---
import '../styles/global.css';

import Tooltop from '../components/Tooltip.astro';

const links = {'/monkey': 'monkey', '/K3': 'K3', '/midi-connect': 'MIDI connect', '/device-update': 'device update'};

// find which page is currently active
const pathname = new URL(Astro.request.url).pathname.replace(/\/$/, '').replace(/\.html$/, "");
---
<header>
    <div class="logo-box">
        <a href="/"><img src="/assets/logo.svg" /></a>
    </div>
    <nav class="nav-box">
        <ul>
            <!-- Loop through the links and create the nav items -->
            {Object.entries(links).map(([link, title]) => {
                // console.log(link, pathname)
                const activeLink = pathname == link ? "active-link" : "";
                return <li class={`${activeLink}`}><a href={link}>{title}</a></li>
            })}
        </ul>
    </nav>
    <div class="extern-box">
        <span>
            <a href="https://discord.gg/pxCjpFvb" target="_blank"><img alt="Discord channel link" src="/assets/Discord blue mark.svg" /></a>
            <a href="mailto:rein.bent@gmail.com"><img alt="Contact us" src="/assets/mail.fill.svg"/></a>
            <a href="http://eepurl.com/ivXTOk"><img alt="mailing list" src="/assets/mail.stack.fill.svg"/></a>
        </span>
    </div>
</header>

<style>
    header {
        display: flex;
        align-items: center;
    }

    .logo-box {
        width: 200px;
        height: 165px;
        margin-right: 40px;
        background-color: #FFEF5A;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-box {
        font-size: 16px;
    }

    /* external links */
    .extern-box {
        position: absolute;
        /* right: 0; */
        min-width: calc(100% - 280px);
        text-align: right;
        margin-left: 240px;
        display: flex;
        justify-content: end;
        align-items: end;
        margin-top: 140px; /* header 165px height - 20px icons height - 5px bottom padding */
        /* height: 165px;
        margin-bottom: 5px; */
    }
    .extern-box span {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .extern-box img {
        filter: brightness(0%);
        height: 16px;
    }
    .extern-box img:hover {
        filter: brightness(100%);
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li.active-link {
        font-weight: bold;
    }
</style>