---
import '../styles/global.css';
const links = {
    '/monkey': 'monkey', 
    // '/KD-3': 'KD-3 MIDI', 
    '/midi-connect': 'MIDI connect', 
    '/device-update': 'device update'
};
const currentPage = new URL(Astro.request.url).pathname.replace(/\/$/, '').replace(/\.html$/, "");
---
<header>
    <div class="logo-box">
        <a href="/"><img src="/assets/logo.svg" /></a>
    </div>
    <nav class="nav-box">
        <ul>
            <!-- Loop through the links and create the nav items -->
            {Object.entries(links).map(([link, title]) => {
                const activeLink = currentPage == link ? "active-link" : "";
                return <li class={`${activeLink}`}><a href={link}>{title}</a></li>
            })}
        </ul>
    </nav>
</header>

<style>
    header {
        height: 165px;
        display: flex;
        align-items: center;

        font-family: 'Courier New', Courier, monospace;
    }

    .logo-box {
        width: 200px;
        height: 100%;
        margin-right: 40px;
        background-color: #FFEF5A;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-box {
        font-size: 18px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        padding: 2px 0;
        border: 1px solid black;
    }

    ul li.active-link {
        font-weight: bold;
    }
</style>