---
import '../styles/global.css';
import Layout from "./Layout.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import URLTree from '../components/URLTree.astro';

const {frontmatter} = Astro.props;

---

<Layout title={frontmatter.title}>
    <main id="markdown-manual">
        <Header />
        <article>
            <section>
                <!-- <URLTree /> -->
                <slot />
            </section>
        </article>
        <Footer />
    </main>
</Layout>

<style is:global>

#markdown-manual section {
    width: 100%;
	padding: 0 20px;
}

#markdown-manual {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#markdown-manual article {
    margin: 0 auto;
    max-width: 800px;
}

#markdown-manual img {
    width: 100%;
    object-fit: contain;
}

#markdown-manual blockquote {
    background-color: #f5f5f5;
    font-style: italic;
    margin-left: 0px;
}

</style>